[submodule "FLT"]
	path = FLT
	url = https://github.com/ImperialCollegeLondon/FLT.git
[submodule "tools/verso-harness"]
	path = tools/verso-harness
	url = https://github.com/ejgallego/leanblueprint-to-verso.git
